/* ::root {
    
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(211, 223, 234);
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}

.main {
    display: flex;
    width: 80%;
    height: 90%;
    overflow: hidden;
    box-shadow: 0 0 25px black;
}

.nav-container {
    position: relative;
    display: flex;
    width: 300px;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 25px black;
    transition: all 1s;
    overflow: hidden;
}

.nav-container .nav-head {
    position: relative;
    width: 100%;
}

.nav-container .nav-head .nav-drop {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.nav-container .nav-head .nav-drop:hover {
    background-color: rgba(135, 206, 235,0.5);
}

.nav-container .nav-head .nav-drop i {
    font-size: 24px;
}

.nav-container .nav-profile {
    position: absolute;
    top: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
}

.nav-container .nav-profile .profile-img {
    margin-right: 2px;
    max-height: 150px;
    max-width: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.nav-container .nav-profile .profile-img img {
    width: 100%;
    height: 100%;
}

.nav-container .nav-profile .profile-info {
    margin-top: 15px;
    text-align: center;
}

.nav-container .nav-profile .profile-info h4 {
    font-size: 22px;
}

.nav-container .nav-profile .profile-info p {
    font-size: 16px;
}

.nav-container .nav-btn {
    position: absolute;
    bottom: 20px;
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

.nav-container .nav-btn ul {
    list-style-type: none;
}

.nav-container .nav-btn li {
    text-align: left;
    padding: 10px 0;
    cursor: pointer;
}

.nav-container .nav-btn li .btn-i {
    display: inline-block;
    width: 50px;
    text-align: center;
}

/* .nav-container .nav-btn li .btn-text {
    display: inline;
} */

.nav-container .nav-btn li:hover {
    background-color: rgba(211, 223, 234, 0.5);
}

.main-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: lightgray;
}

.main-container .main-head-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;    
}

.main-head-container .head-logo {
    margin-left: 10px;
    display: flex;
    cursor: pointer;
}

.main-head-container .head-logo .logo-icon {
    padding: 5px;
    height: auto;
    width: auto;
}

.main-head-container .head-logo .logo-icon i {
    font-size: 30px;
}

.main-head-container .head-logo .logo-text {
    padding: 5px;
    height: auto;
    width: auto;
    font-size: 30px;
} 

.main-head-container .head-others {
    margin-right: 10px;
    display: flex;
}

.main-head-container .head-others .head-resume , 
.main-head-container .head-others .head-settings{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.main-head-container .head-others .head-resume i,
.main-head-container .head-others .head-settings i {
    font-size: 20px;
    margin-right: 5px;
}

.main-head-container .head-others .head-resume span,
.main-head-container .head-others .head-settings span {
    font-size: 18px;
}

.main-container .main-body-container {
    position: relative;
    width: 100%;    
    
}

.main-body-container .header-bar {
    position: absolute;
    top: 0;
    right: 5px;
    display: flex;
    z-index: 10;
}

.main-body-container .resume-list {
    display: none;
    padding: 5px;
    width: auto;
    height: 50px;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transition: all 1s;
}

.main-body-container .resume-list ul {
    list-style-type: none;
}

.main-body-container .resume-list ul li {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.main-body-container .resume-list ul li:hover {
    background-color: skyblue;
}

.main-body-container .settings-list {
    display: none;
    margin-left: 5px;
    padding: 3px;
    width: auto;
    height: auto;
    background-color: #fff;
    transition: all 1s;
    overflow: hidden;
}

.main-body-container .settings-list ul {
    list-style-type: none;
}

.main-body-container .settings-list ul li {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.main-body-container .settings-list ul li:hover {
    background-color: skyblue;
}

.main-body-container .settings-list ul li .settings-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-body-container .settings-list ul li span {
    padding: 5px;
}

.main-body-container .settings-list ul li i {
    padding: 5px;
    transition: 1s;
}

.main-body-container .settings-list ul li .theme-bar{
    width: auto;
    height: 0px;
    transition: height 1s;
    background: black;
    overflow: hidden;
}

.theme-bar .theme-one {
    margin: 10px;
    width: 100px;
    height: 100px;
    display: flex;
}

.theme-bar .theme-one .left{
    width: 30%;
    height: 100%;
    background-color: blue;    
}

.theme-bar .theme-one .right{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.theme-bar .theme-one .right .top{
    width: 100%;
    height: 30%;
    background-color: skyblue;
}

.theme-bar .theme-one .right .bottom{
    width: 100%;
    height: 70%;
    background-color: wheat;
}

.main-body-container .settings-list ul li .font-bar{
    width: auto;
    height: 0px;
    transition: height 1s;
    background: yellowgreen;
    overflow: hidden;
}

.main-body-element {
    width: 100%;
    z-index: -1;
}

.main-element-home {
    margin: 20px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    overflow: hidden;
}

.main-element-home .home-body {
    display: flex;
    flex-direction: column;
}

.main-element-home .home-body .up {
    position: relative;
    width: 100%;
    height: 200px;
    background: skyblue;
}

.main-element-home .home-body .up h1 {
    position: absolute;
    bottom: 5px;
    left: 100px;
}

.main-element-home .home-body .down {
    display: flex;
    position: relative;
    width: 100%;
    height: 50%;
}

.main-element-home .home-body .down .text {
    position: absolute;
    top: 5px;
    left: 100px;
    width: 350px;
    text-align: justify;
}

.main-element-home .home-body .down img{
    width: 300px;
    position: absolute;
    right: 0;
    top: -200px;
}

.main-element-about {
    margin: 20px;
    /* height: 400px; */
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    overflow: hidden;
}

.main-element-about .about-body {
    display: flex;
    flex-direction: column;    
}

.main-element-about .about-body h3, 
.main-element-about .about-body h2{
    margin-top: 20px;
    margin-left: 20px;
}

.main-element-about .about-body .first-part{
    display: flex;    
}

.main-element-about .about-body .first-part .text {
    margin: 20px;
    text-align: justify;
}

.main-element-about .about-body .first-part .img {
    width: 300px;    
}

.main-element-about .about-body .first-part .img img {
    width: 300px;
}

.main-element-about .about-body .education-part {
    width: 100%;
    margin-top: 50px;
}

.main-element-about .about-body .education-part h3 {
    margin: 20px;
}

.main-element-about .about-body .education-part .education-body {
    width: 80%;
    float: right;
    border-left: 3px solid black;
}

.main-element-about .about-body .education-part .education-body .education {
    display: flex;
    margin-top: 10px;
}

.main-element-about .about-body .education-part .education-body .education:first-child{
    margin: 0;
}

.main-element-about .about-body .education-part .education-body .education .year {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: black;
    color: white;
    border-radius: 50%;
    transform: translateX(-50%);
}

.main-element-about .about-body .education-part .education-body .education:hover .year {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.main-element-about .about-body .education-part .education-body .education .info h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

.main-element-about .about-body .experience-part {
    width: 100%;
    margin-top: 50px;
}

.main-element-about .about-body .experience-part h3 {
    margin: 20px;
}

.main-element-about .about-body .experience-part .experience-body {
    margin: 20px;
}

.main-element-about .about-body .second-part {
    width: 100%;
}

.main-element-about .about-body .second-part h3 {
    margin: 20px;
}

.main-element-about .about-body .second-part .second-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
}

.main-element-about .about-body .second-part .left-arrow ,
.main-element-about .about-body .second-part .right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.main-element-about .about-body .second-part .main-img{
    display: flex;
    align-items: center;    
    width: 600px; 
    height: 100%;    
    overflow: hidden;    
}

.main-element-about .about-body .second-part .main-img .main-img-body {
    display: flex;
    height: 200px;
    transform: translateX(150px);
    transition: 1s;
}

.main-element-about .about-body .second-part .main-img .main-img-body img{
    width: 300px;
    height: 100%;
}

.main-element-strength {
    margin: 20px;
    /* height: 400px; */
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    overflow: hidden;
}

.main-element-strength .strength-body .first-part {
    margin: 20px;
}

.main-element-strength .strength-body .first-part .first-body {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-top: 20px;
}

.main-element-strength .strength-body .first-part .first-body .element{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* .main-element-strength .strength-body .first-part .first-body .element:hover {
    transform: rotateY('90deg');
} */

.main-element-strength .strength-body .second-part {
    margin: 20px;   
}

.main-element-strength .strength-body .second-part .second-body {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    background-image: url("assets/media/home.png");
}

.main-element-strength .strength-body .second-part .second-body .element {
    text-align: center;
    color: white;
}

.main-element-strength .strength-body .second-part .second-body .element i{
    padding: 5px;
    font-size: 82px;
    color: white;
}

.main-element-strength .strength-body .skill-part {
    margin-top: 20px;
}

.main-element-strength .strength-body .skill-part h3 {
    margin: 20px;
}

.main-element-strength .strength-body .skill-part .skill-body{
    display: flex;
}

.main-element-strength .strength-body .skill-part .skill-body .chart{
    width: 30%;
}

.main-element-protfolio {
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    overflow: hidden;
}

.main-element-protfolio h3 {
    margin: 20px;
}

.main-element-protfolio .protfolio-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.main-element-protfolio .protfolio-body .all-element {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    padding: 10px;
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.main-element-protfolio .protfolio-body .all-element .element {
    height: 150px;    
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.main-element-protfolio .protfolio-body .load-button {
    width: 100%;
    margin-top: 20px;
}

.main-element-protfolio .protfolio-body .load-button button {
    width: 100%;
    height: 30px;
    background-color: hotpink;
    color: white;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.main-element-contact {
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    overflow: hidden;
}

.main-element-contact h3 {
    margin: 20px;
}

.main-element-contact .first-part {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin: 20px;
}

.main-element-contact .first-part .element {
    cursor: pointer;
}

.main-element-contact .first-part .element a {
    color: black;
    text-decoration: none;
}

.main-element-contact .first-part .element:hover {
    color: blueviolet;
}

.main-element-contact .first-part .element:hover a{
    color: blueviolet;
}

.main-element-contact .second-part {
    margin-top: 20px;
}

.main-element-contact .second-part .second-body .review .review-body .name-div {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    padding: 0 20px;
}

.main-element-contact .second-part .second-body .review .review-body .name-div input {
    padding: 10px;
    width: 100%;
    font-size: 18px;
    border: 0px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.1);
}

.main-element-contact .second-part .second-body .review .review-body .name-div textarea {
    padding: 10px;
    height: 150px;
    font-size: 18px;
    border: 0px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.1);
}


.main-element-contact .second-part .second-body .review .review-body .rating {
    display: flex;
    direction: row-reverse;
    justify-content: center;
}

.main-element-contact .second-part .second-body .review .review-body .rating input {
    display: none;
}

.main-element-contact .second-part .second-body .review .review-body .rating label {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.main-element-contact .second-part .second-body .review .review-body .rating input:checked ~ label {
    color: gold;
}

.main-element-contact .second-part .second-body .review .review-body .rating input:hover ~ label {
    color: gold;
}

.main-element-contact .second-part .second-body .review .review-body button {
    margin: 20px;
    padding: 10px;
    background-color: hotpink;
    color: white;
    border: 0px;
    border-radius: 5px;
}

.main-element-contact .second-part .second-body .review .review-body button:hover {
    background-color: pink;
}

.main-element-contact .second-part .second-body .location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.main-element-contact .second-part .second-body .location iframe {
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main {
        width: 100%;
        height: 100%;
    }
    .main-head-container .head-logo .logo-text {
        display: none;
    }

    .main-head-container .head-others .head-resume span,
    .main-head-container .head-others .head-settings span {
        display: none;
    }
    .profile-info {
        display: none;
    }
    .btn-text {
        display: none;
    }
    .nav-container {
        width: 50px;
    }
    .main-element-home .home-body .down img {
        width: 150px;
        top: 0;
    }
    .main-element-home .home-body .up h1 {
        left: 20px;
    }
    .main-element-home .home-body .down .text {
        left: 20px;
        width: 150px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav-container .nav-btn li .btn-text {
        display: inline;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav-container .nav-btn li .btn-text {
        display: inline;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .nav-container .nav-btn li .btn-text {
        display: inline;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .nav-container .nav-btn li .btn-text {
        display: inline;
    }
}