/* ::root {
    
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(211, 223, 234);
}

.main {
    display: flex;
    width: 70%;
    height: 70%;
    box-shadow: 0 0 25px black;
}

.nav-container {
    display: flex;
    flex: 1 1 100px;
    background-color: #fff;
}

.main-container {
    display: flex;
    flex: 5 5 100px;
    flex-direction: column;
    background-color: lightgray;
}

.main-container .main-head-container {
    width: 100%;
    height: 10%;
    background-color: skyblue;
}

.main-container .main-body-container {
    width: 100%;
    height: 90%;
    
}